MYSQL_HOST=your-rds-endpoint
MYSQL_USER=your-database-user
MYSQL_PASSWORD=your-database-password
MYSQL_DB=your-database-name

JWT_SECRET_KEY=your-jwt-secret

AWS_REGION=ap-south-1
S3_BUCKET=your-s3-bucket
AWS_ACCESS_KEY=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
