# Python Virtual Environment
venv/
.venv/

# Environment Variables / Secrets
.env
.env.*
!.env.example

# Python Cache
__pycache__/
*.pyc
*.pyo

# Log Files
*.log
logs/

# macOS
.DS_Store

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan
terraform/*.tfvars
terraform/*.tfvars.json
terraform/crash.log

# Terraform lock file
# KEEP this file in Git if you want reproducible provider versions.
# terraform/.terraform.lock.hcl

# IDE
.vscode/
.idea/